// Define variables for your color scheme

// For example:
$red: #BF124D;
$blue: #295F98;
$yellow: #F6EFBD;
$orange: #E67E22;
$light-gray: #CBCBCB;
$green: #5D866C;
$gray: #44444E;
$very-dark-purple: #6B3F69;
$darker-purple: #8D5F8C;
$light-purple: #A376A2;
$beige: #DDC3C3;
