.form-inputs {
  border-radius: 50px;
  width: 100%;
}

.form-container {
  width: 50%;
}

.gender-input {
  width: 300px;
}

.form-select {
  border-radius: 15px;
  box-shadow: 2px 2px 10px #bbbbbb;
  margin-bottom: 50px;
}

.form-control {
  border-radius: 15px;
  box-shadow: 2px 2px 10px #bbbbbb;
  margin-bottom: 50px;
}

.form-label {
  color: #a376a2;
}

.form-text {
  color: #a376a2;
}

.title-form {
  color: #a376a2;
}

