// Specific CSS for your home-page
body {
    background-color: plum;
}
.container {
background-color: rgb(255, 255, 255);
}

.btn {
    background-color: #e12645;
color :white; 
}
.page {
    background-color: plum;
}


.btn:hover {
    background-color: plum;
}