// Specific CSS for your home-page
body {
  background-color: plum;
}

.btn {
  background-color: #e12645;
  color: white;
}

.home-page-container {
  background-color: plum;
}

.page {
  background-color: plum;
}

.btn:hover {
  background-color: plum;
}
