// Specific CSS for your home-page
body {
  background-color: plum;
}

.btn {
  background-color: #e12645;
  color: white;
}
.page {
  background-color: plum;
}

.btn:hover {
  background-color: plum;
}
