<h1>Problems#index</h1>
<p>Find me in app/views/problems/index.html.erb</p>
<!-- Original -->
<h1>Welcome to your pocket psychologist!</h1>
<!-- Change properties -->
<h1 style="color: blue; font-size: 36px;">Welcome to your pocket psychologist!</h1>
<p style="color: blue; font-size: 36px;">Welcome to your pocket psychologist!</p>
<a style="color: blue; font-size: 36px;">This is our mission and this is what we can do for you!</a>
