<h1>Problem show</h1>

<p><%= @problem.title %></p>

<h2>All your chats:</h2>
<% current_user.chats.each do |chat| %>
  <p><%= link_to "View Chat ##{chat.id}", chat_path(chat) %></p>
<% end %>

<%= button_to "Create Chat for this problem", problem_chats_path(@problem) %>
