<div class="side-nav-container text-center p-3 rounded-4 border mt-3">
  <div class="text-start">
    <div class="btn btn-primary w-100">Homepage</div>
    <hr>
    <h2>Your problems </h2>
    <% current_user.problems.each do |problem| %>
      <div>
        <h3><%= link_to"#{problem.title}", problem %></h3>
        <hr>
        <% problem.chats.each do |chat| %>
          <h5 class="text-decoration-none"><i class="fa-regular fa-message"></i>
            <% if chat.messages.by_user.any?  %>
              <%= link_to"#{chat.messages.by_user.first.content.truncate(18, separator: " ")}", chat_path(chat) %>
            <% else %>
              <%= link_to "New Chat", chat_path(chat) %>
            <% end %>
          </h5>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
