<h1>hello <%= current_user.email %></h1>

<% @problems.each do |problem| %>
    <div>
        <h2><%= problem.title %></h2>
        <hr>
        <% problem.chats.each do |chat| %>
          <p><%= chat.id %></p>

        <% end %>
    </div>
<% end %>
