<div class="container text-center p-5 rounded-4 border mt-3">
  <div class="text-start">
    <div class="btn btn-primary">Homepage</div>
    <hr>
    <h2>Your problems <%= current_user.email %></h2>
    <% @problems.each do |problem| %>
      <div>
        <h3><%= link_to"#{problem.title}", problem_path(problem) %></h3>
        <hr>
        <% problem.chats.each do |chat| %>
          <h5 class="text-decoration-none"><i class="fa-regular fa-message"></i>  <%= link_to"#{chat.messages.first.content.truncate(20, separator: " ")}", chat_path(chat) %></h5>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
