<div class="container mb-5 ">   
    <div class="mt-5 text-center rounded-2 mx-5 ">
        <div class="header p-4 m-3 ">
            <h1 class="m-3">Welcome to your pocket psychologist</h1>
            <h2>This is our mission and this is what we can do for you❤️</h2>
            <p>Pocket-Psycologist is a supportive mobile app designed to help users explore solutions to psychological and mental challenges.
            Through guided questions and mood tracking, it identifies patterns and suggests personalized strategies.
            The app includes breathing exercises, journaling prompts, and scientifically backed coping techniques.
            Users can access a safe space to express their emotions and receive instant guidance.
            Pocket-Psycologist is not a substitute for therapy, but a first step toward mental well-being and self-awareness.</p>
        </div>
        <div class="btn m-3 ">Login</div>
    </div>
</div>