.button {
  display: inline-block;
  padding: 8px 16px; // (top/bottom 8px, left/right 16px)
  background-color: #6B3F69;
  border-radius: 6px; // round corners
  color: white; //  text
  text-decoration: none; // no underline

  a {
    color: white;
  }

  &:hover {
    background-color: #A376A2;
    color: white;
    cursor: pointer;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
  }
}

.button-on-form {
  width: 100%;
}
