button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.btn {
  background-color: #6B3F69;
  color: white;
}

.btn:hover {
  background-color: plum;
}

.btn-home {
  width: 200px;
}
