.side-nav-container {
    background-color: white;
    min-height: 100vh;
}
a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.fa-regular {
    font-size: 10px;
}

h2 {
 font-size: 22px;
}

.problem {
    font-size: 19px;
    color: rgb(111, 110, 110);
}

.hp{
   position:relative;
   bottom:10px;
}

.button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.piede i {
    font-size: 30px;
}

 .navbar-brand img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.cima i {
   font-size: 30px;
//    position:absolute;
//     top: 10px;
//     right: -10px;
}

.open-side-nav i{
    position: absolute;
    top: 20px;
    font-size: 30px;
}

i {
    color: #8D5F8C;
}

.dropdown-toggle::after {
    display: none;
}
