.side-nav-container {
    background-color: white;
}
a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.fa-regular {
    font-size: 10px;
}

h2 {
 font-size: 22px;
}

.problem {
    font-size: 19px;
    color: rgb(111, 110, 110);
}

.hp{
   position:relative;
   bottom:10px;
}